<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
        />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous"
        />
        <title>About | Wildlife Trafficking & Money Laundering Identifier</title>
        <link rel="stylesheet" href="../static/about_style.css">
    </head>

    <body>

        <header>
            <a href="/contact" class="logo">Elefant</a>
            <nav>
                <a href="/">Home</a>
                <a href="/explore">Explore</a>
                <a href="/predict">Predict</a>
                <a href="/find">Find Traffickers</a>
                <a href="/model">Model</a>
                <a href="/news">News Identifier</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </nav>
        </header>
        <section class="home">
            <div class="info">
                <h2><b>IMI BigDataAIHUB Big Data & Artificial Intelligence competition</b><br><br></h2>
                <p>Presenting our groundbreaking risk prediction product for the BigDataAIHub competition! Harnessing AI and big data, our solution offers precise risk assessment across industries. Our user-friendly interface ensures swift, informed decisions. Join us as we redefine risk prediction in the era of Big Data and AI</p>
                <h2><br><b>Sponsored By</b><br><br></h2>
                <img src="../static/sponsors.png" alt="">
            </div>
        </section>
        <section class="content">
            <h2><b>Project Anton</b><br></h2>
            <p>Launched in January 2023, Project Anton is a public-private partnership initiative led by Scotiabank, and supported by FINTRAC, and other key domestic and international partners to combat illegal wildlife trade.</p>
            <h2><b>Results</b><br></h2>
            <p>Publication of Operational Alert providing reporting entities with ML indicators for IWT.<br>Over 50 suspicious transaction reports submitted to FINTRAC.<br>Over 40 refers of actionable intelligence to Canadian and international law enforcement.<br>Development of a Project Anton FIU Community of Practice.<br>Seven nation agreement on a Statement of Principles to combat financial crime related to IWT</p>
            <h2><b>Inspiration</b><br></h2>
            <p>Anton Mzimba</p>
            <img src="../static/project_anton.png" alt="">

        </section>

        <script type="text/javascript">
            const logo = document.querySelector(".logo");
            const nav = document.querySelector("nav");

            window.addEventListener("load", () => {
                logo.style.transform = "translateY(0)";
                nav.style.transform = "translateY(0)";
            });

        </script>
    </body>
</html>