<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
        />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous"
        />
        <title>Contact | Wildlife Trafficking & Money Laundering Identifier</title>
        <link rel="stylesheet" href="../static/about_style.css">
    </head>

    <body>

        <header>
            <a href="/contact" class="logo">Elefant</a>
            <nav>
                <a href="/">Home</a>
                <a href="/explore">Explore</a>
                <a href="/predict">Predict</a>
                <a href="/find">Find Traffickers</a>
                <a href="/model">Model</a>
                <a href="/news">News Identifier</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </nav>
        </header>
        <section class="home">
            <div class="info">
                <h2><b>Elefant - Team 37</b><br><br></h2>
                <p>Safwat Khan<br></p>
                <p>Zekai Li<br></p>
                <p>Ernest Namdar<br></p>
                <p>Tushar Raju<br></p>
                <p>Pin-Chien Wang<br></p>
                <p>Steven Zheng<br></p>
            </div>
        </section>

        <script type="text/javascript">
            const logo = document.querySelector(".logo");
            const nav = document.querySelector("nav");

            window.addEventListener("load", () => {
                logo.style.transform = "translateY(0)";
                nav.style.transform = "translateY(0)";
            });

        </script>
    </body>
</html>